:root {
    --cor-de-fundo: #6bdf45;
    --tamanho-de-fonte: 30px;
    --width: 300px;
    --height: 200px;
}

body, html {
    width: 100%;
    height: 100%;
    background: var(--cor-de-fundo)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-id {
    background-color: blue;
    width: var(--width);
    height: var(--height);
}

/* 
#header-id p {
    color: red;
    font-size: 24px;
    font-weight: bold;
}
*/

.text {
    color: brown;
    font-size: var(--tamanho-de-fonte);
    font-weight: bold;
    margin: 15px 0;
}

#main-id {
    background: #ff0088;
    width: var(--width);
    height: var(--height);
}

#footer-id {
    background: #445566;
    width: var(--width);
    height: var(--height);
}